# Xcode
xcuserdata/
DerivedData/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Swift / SPM
.build/
.swiftpm/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor
*~
*.swp
.idea/
